<div id="user_info">
  <div id="username"><h1><%= @user.username %></h1></div>
  <div id="email"><%= @user.email %></div>
  <div id="bio"><%= "About Me: "+@user.bio if @user.bio.present?  %></div>

  <div id="follow"><%= link_to follow_toggle, user_follows_path(@user,{:follow=>{:follow_id=>@user.id}}),:method => :post %></div>
  <div id="editUser"><%= link_to("Edit Profile", edit_user_path(current_user)) if current_user==@user%></div>
</div>