<div id="user_info">
  <% if @unique_follow!=nil %>
  <div id="un-follow"><%= link_to "Unfollow", user_follow_path(current_user.id,@unique_follow.id), :confirm => 'Are you sure?', :method => :delete %></div>
  <% else %>
  <div id="follow"><%= link_to follow_toggle, follow_toggle_logic, :method => :post %></div>
  <%end%>
  <div id="editUser"><%= link_to("Edit Profile", edit_user_path(current_user)) if current_user==@user%></div>
  <div id="username"><h1><%= @user.username %></h1></div>
  <div id="avatar"><%= image_tag @user.avatar.url, {:height=>"80px", :width=>"65px"} unless @user.avatar.url.nil? %></div>
  <div id="email"><%= @user.email %></div>
  <div id="bio"><%= "About Me: "+@user.bio if @user.bio.present?  %></div>
  <div id="following"><%= render :partial => 'following' %></div>
  <div id="followers"><%= render :partial => 'followers' %></div>
</div>