<%= form_for([@user, @tweet]) do |f| %>
  <div class="field">
    <%= f.text_field :body%>
    <%= f.submit "Share" %>
  </div>  
<% end %>
<%= render :partial => 'feed' %>
<%= render :partial => 'info', :locals=>{:user=>@user}%>
